# systemd(8) setup usde by Tizen and others.
[Unit]
Description=Software Over The Air Service
Wants=network-online.target rvi.service

[Service]
Environment="HOME=/opt/rvi_sota_demo-1.0.0"
Environment="PYTHONPATH=/opt/rvi_sota_demo-1.0.0/mod/lib/python"
WorkingDirectory=/opt/rvi_sota_demo-1.0.0
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/bin/sh -c "sleep 10;/usr/bin/python sota_device.py http://localhost:8811"
GuessMainPID=yes

[Install]
WantedBy=graphical.target multi-user.target
